


<style type="text/css">
   

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
      
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
</style>

<style>
.sel-select{width: 100%}
/* This is to remove the arrow of select element in IE */
select::-ms-expand {  display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
  .ui-select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .ui-select select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

.a {
    box-shadow: 15px 15px 10px -4px rgba(31, 73, 125, 0.8);
   
    margin: 50px;
    background: white;
}
.shadow {
    box-shadow: 1rem 1.5rem 1rem rgba(0,0,0,.15) !important;
}

a{

color:black !important;
font-size: 14px;
}


.test{
overflow-y: hidden;
    padding: 0 10px 10px 10px;
    margin: 0 -10px
}
</style>



<body>

<section class="  text-center">
    <div class="container" align="center">
<p style="font-size:18px; color:grey;">CHOOSE YOUR FABRIC </p>




<div class="row">

<div height="100%" class="col-md-6">


<div class="form-check">
  <input style="margin-top:2.5px;" class="form-check-input" type="radio" name="exampleRadios" checked="true" id="exampleRadios1" value="option1"  onclick="checkType1()">
  <label style="font-size:12px; color:grey;" class="form-check-label" for="exampleRadios1">
  Sueded Stretch Twill
  </label>
</div>




<div  style="margin-top: -25px;">

  <img width="100%" class="rounded-circle" alt="100x100" src="img/page2/1.png"
      data-holder-rendered="true">
</div>

<div style="margin-top: 12px; line-height: 14px;">
<span style="font-size:12px; color:grey;" >
Fabric Composition  </span><br>
<span style="font-size:12px; color:grey;" >
Premium Cotton 97%|  Spandex 3% </span>
</div>

</div>
<div class="col-md-6">



<div class="form-check">
  <input style="margin-top:2.5px;"  class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"  onclick="checkType2()">
  <label style="font-size:12px; color:grey;" class="form-check-label" for="exampleRadios2">
Sueded Stretch Sateen  </label>
</div>
<div   style="margin-top: -25px;">

    
    
<img width="100%"   class="rounded-circle" alt="100x100" src="img/page2/2.png"
    data-holder-rendered="true">
</div>
<div style="margin-top: 12px; line-height: 14px;">
<span style="font-size:12px; color:grey;" >
Fabric Composition  </span><br>
<span style="font-size:12px; color:grey;" >
Premium Cotton 97%|  Spandex 3% </span>
</div>

</div>


</div>
<a type="button"  href="/shop"  style="margin-top:25px;  background-image: linear-gradient(#F6F8F8, #D6D8D8); border-color: #C4C5CA !important; width:120px !important;  box-shadow: 0px 2.5px grey; color:grey !important; height:36px; border: none !important;" class="btn btn-secondary">Previous</a>

  <a type="button"id="" onclick="call_fabric()" href=""  style="margin-top:25px;  background-image: linear-gradient(#F6F8F8, #D6D8D8); border-color: #C4C5CA !important; width:120px !important;  box-shadow: 0px 2.5px grey; color:grey !important; height:36px; border: none !important;" class="btn btn-secondary call_fabric">Next</a>

 </section>
  <!-- Bootstrap core JavaScript -->
  <script>
  function call_fabric(){
    var input_doc = document.getElementsByClassName('call_fabric')[0]
    if(document.getElementById("exampleRadios1").getAttribute("checked")==="true"){
      input_doc.setAttribute('href', '/selected_product?style_id='+{{style_id}}+'&&'+'fabric_id=1');
     }else{
      input_doc.setAttribute('href', '/selected_product?style_id='+{{style_id}}+'&&'+'fabric_id=2');
    }
  }
 function checkType1(){
    var input_doc = document.getElementById('exampleRadios1');
    input_doc.setAttribute('checked',"true");

    var input_doc1  = document.getElementById('exampleRadios2')
    input_doc1.setAttribute('checked','false')
 }
   function checkType2(){
    var input_doc = document.getElementById('exampleRadios2');
    input_doc.setAttribute('checked','true');
    var input_doc1  = document.getElementById('exampleRadios1')
    input_doc1.setAttribute('checked','false')
  }
</script>

 </body>

{{!-- </html>  --}}
  