
  <style>

 a:visited {
    color: black !important;
}

a:active {
    color: black !important;
}

a {
    color: black !important;
}
  .navbar-light .navbar-nav .nav-link {
    color: black !important;
}
  .sel-select{width: 100%}
  /* This is to remove the arrow of select element in IE */
  select::-ms-expand {  display: none; }
  select{
      -webkit-appearance: none;
      appearance: none;
  }
  @-moz-document url-prefix(){
    .ui-select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
    .ui-select select { width: 110%; background-position: right 30px center !important; border: none !important;}
  }
    

  .test{
  overflow-y: hidden;
      padding: 0 10px 10px 10px;
      margin: 0 -10px
  }
  </style>

<body>
<section style="margin-top:30px;" class=" pt-xl-5 pl-xl-4  ">
    <div class="container col-md-6" align="center" >
<div class="row shadow p-3 mb-5 bg-white rounded border-between" data-wow-delay=".2s">



<div class="col-md-12" style=" font-size: 14px;"><p>Thank you for shopping with us.</p></div>

<div class="col-md-12"><span style=" font-size: 14px;">Order Id {{order_id}}.</span><span> <a href="#" style="font-size: 16px; color:#007bff !important;
    text-decoration: none;
    background-color: transparent;">Track your order</a></span> </div>


</div>
<a type="submit" href="/home" style="color:white !important;" class="btn btn-md btn-secondary">SHOP MORE</a>



 </div>





 </section>

</body>





 




